* {
  box-sizing: border-box;
}

body {
  margin: 0;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 30px;
  color: #333;
}

#search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

#search-area input {
  padding: 10px 15px;
  width: 405px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

#gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.photo-card {
  background: white;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.photo-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.photo-card p {
  padding: 15px;
  margin: 0;
  font-weight: bold;
  color: #555;
}

.no-results {
  grid-column: 1 / -1;
  color: #777;
  font-size: 1.2rem;
  margin-top: 20px;
}

footer {
  margin-top: 50px;
  color: #777;
  font-size: 0.9rem;
}


/* RESPONSIVIDADE */
@media (max-width: 768px) {
  #gallery-grid {
    grid-template-columns: 1fr;
  }
  
  #search-area input {
    width: 100%;
  }
}